<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>seval.io</title>
  </head>
  <body>
    {{> foo/bar.hbs}}
  <script type="text/javascript" src="/dist/bundle.js"></script></body>
</html>
